<app-about></app-about>

<!-- <img src="src\assets\images\IMG.jpg"> -->

<button (click)="submitData()">Submit</button>

<!-- <button (click)="postData()">postData</button> -->
<button (click)="fetchData()">Fetch Data</button>

<div *ngIf="asanas">
  <h2>Fetched asanas:</h2>
  <pre>{{ asanas | json }}</pre>
</div>




<button (click)="fetchHealth()">Fetch Health of Backend APi</button>
<!-- <button (click)="fetchlocalHealth()">Fetch local Health of Backend APi</button>
<div *ngIf="health">
  <h2>Health of backend api:</h2>
  <pre>{{ health | json }}</pre>
</div>
 -->
